@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Estilos de la cabecera */
header{
    width: 100%;
    padding:40px 0 0 0;
    background:url("../img/bg-header.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
header nav{
    width: 100%;
    height: 73px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000000da;
}
.barra {
background-color: #000000da;
border: 1px solid #000000da;
padding: 5px;
position: relative; 
}

.toggle-input {
display: none; 
}
.toggle-label {
font-size: 20px;
cursor: pointer;
color: #fff;
}
.toggle-label p{
font-size: 40px;
}
.toggle-label p,
.toggle-label span {
    display: inline; /* Establece la visualización en línea para ambos elementos */
}
.contenido {
display: block;
width: max-content;
max-height: 0;
overflow: hidden;
position: absolute;
top: 100%; 
left: 0;
right: 0;
background-color: #000;
color: #fff;
transition: max-height 1s ease;
}

.toggle-input:checked ~ .contenido {
max-height: 1000px; 
}

#desplegable{
    display:block ;
}
header nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 15px;
    
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 20;
    font-weight: 400;
    transition: .3s;
}
nav li a:hover{
    border-bottom: 3px solid orange;
    border-top: 3px solid orange;
}
#logo{
    transition: .5s;
}
#logo:hover{
    transform: scale(1.2);
}

#hero{
    width: 80%;
    text-align: center;
    margin: 0 auto; /* centrar contenedor */
    padding-top: 200px;
}
#hero img {
    border-radius:15px ;
}
#hero h2 {
    font-size: 60px;
    color: orange;
}
#hero h1 {
    font-size: 30px ;
    color: #fff;
    font-weight: 400;
    text-transform:uppercase;
    margin-bottom: 30px;
}
#hero p{
    font-size: 15px ;
    color: #fff;
    background-color: #00000052;
    width:50%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 15px;
}
#hero button{
    background-color: orange;
    font-size: 30px;
    padding: 12px 30px;
    border-radius: 14px;
    color: #000;
    border-color: transparent;
    cursor: pointer;
    transition: .5s;
}
#hero button:hover{
    transform: scale(0.9);
    background: #000000bb;
    color: orange;
}
/* ESTILOS NOTICIAS */
main{
    width: 100%;
    position: relative;
}
#news{
    width: 63%;
    padding: 100px 150px;
    margin: 0 auto;
    background: #bebebe;
}
#noticias{
    width: 100%;
    background: #000; 
}
#noticias hr{
    color: #000;
    border:1px solid #000;
}
#noticias h2{
    font-size: 50px;
    color: orange;
    text-align: left ;
}
#noticias p{
    font-size: 22px;
}
#noticias .fila{
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
#noticias .fila h3{
    text-transform:uppercase; 
}
#con-not{
    padding-right: 150px;
    position: relative;
    text-align: left;
}
#not-img{
    transition: .5s;
}
#not-img:hover{
    transform: scale(0.95);
}
/* ESTILOS ANALISIS */
main{
    width: 100%;
    position: relative;
}
#analitics{
    width: 63%;
    padding: 100px 150px;
    margin: 0 auto;
    background: #d1fdfb;
}
#analitics hr{
    color: rgb(0, 238, 255);
    border:1px solid rgb(0, 238, 255);
}
#analisis{
    width: 100%;
    background:url("../img/bg-analisis.png");
    background-size: cover;
    background-position: center;
}
#analisis h2{
    font-size: 50px;
    color:rgb(0, 238, 255);
    text-align: left ;
}
#analisis p{
    font-size: 22px;
}
#analisis .fila h3{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform:uppercase; 
}
#con-ana{
    position: relative;
    text-align: left;
}
#con-ana a {
    text-decoration: none;
    color: #000;
    transition: .5s;
}
#con-ana a :hover {
    text-decoration: underline;
}
#con-ana p a{
    color: #000;
    text-decoration: none;
    transition: .5s;
}
#con-ana p a :hover{
    text-decoration: underline;
}
#ana-img{
    padding-top: 30px;
}
/* GUIAS Y TRUCOS */
main{
    width: 100%;
    position: relative;
}
#guides{
    width: 63%;
    padding: 100px 150px;
    margin: 0 auto;
    background: #bebebe;
}
#guides hr{
    color: #000;
    border:1px solid #000;
}
#guiasytrucos{
    width: 100%;
    background:#000;
    background-size: cover;
    background-position: center;
}
#guiasytrucos h2{
    font-size: 50px;
    color:orange;
    text-align: left ;
}
#guiasytrucos p{
    font-size: 22px;
}
#guiasytrucos .fila{
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
#guiasytrucos .fila h3{
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform:uppercase; 
}
#con-gyt{
    position: relative;
    text-align: left;
    padding-right: 150px;
}
#gyt-img{
    padding-top: 30px;
    transition: .5s;
}
#gyt-img:hover{
    transform: scale(0.95);
}
footer{
    width: 100%;
    position: relative;
    background: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* Lanzamientos */
main{
    width: 100%;
    position: relative;
}
#releases{
    width: 63%;
    padding: 100px 150px;
    margin: 0 auto;
    background: rgb(157, 203, 241);
}
#releases h3{   
    color: blue;
}
#releases hr{
    color: blue;
    border:1px solid blue;
}
#lanzamientos{
    width: 100%;
    background:url("../img/bg-lanzamientos.png");
    background-size: cover;
    background-position: center;
}
#lanzamientos h2{
    font-size: 50px;
    color:blue;
    text-align: left ;
}
#lanzamientos p{
    font-size: 22px;
}
#lanzamientos .fila{
    padding-top: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
#lanzamientos .fila h3{
    padding-bottom: 30px;
    text-transform:uppercase; 
}

#con-lan{
    position: relative;
    text-align: left;
    padding-left: 50px;
}
#con-lan a {
    text-decoration: none;
    transition: 1s;
}
#con-lan a :hover{
    text-decoration: underline;
}
#con-lan h3{
    color: #000;
}
footer{
    width: 100%;
    position: relative;
    background: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p,footer h3 {
    color: #fff;
}
/* Ranking */
main{
    width: 100%;
    position: relative;
}
#top{
    width: 63%;
    padding: 100px 150px;
    margin: 0 auto;
    background: #bebebe;
}
#top h3{   
    color: black;
}
#top  hr{
    color: #0000;
    border:1px solid #000;
}
#ranking{
    width: 100%;
    background:black;
    background-size: cover;
    background-position: center;
}
#ranking h2{
    font-size: 50px;
    color:orange;
    text-align: left ;
}
#ranking p{
    font-size: 22px;
}
#ranking .fila{
    padding-top:10px ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
}
#ranking .fila h3{
    padding-bottom: 30px;
    text-transform:uppercase; 
}
#ran-top{
    text-align: center;
    width: 10%;
    padding: 0 10px;
}
#ran-top a{
    color: #000;
    text-decoration: none;
    transition: .5s;
}
#ran-top a :hover{
    transform: scale(1.1);
    text-decoration: underline;
}
#con-ran{    
    width: 10%;
    position: relative;
    text-align: center;
    padding-left: 50px;
}
#con-ran a {
    text-decoration: none;
    transition: 1s;
}
#con-ran a :hover{
    text-decoration: underline;
}
#con-ran h3{
    color: #000;
}
#ran-genero{
    text-align: center;
    width: 20%;
    padding: 0 10px;
}
#ran-fecha{
    text-align: center;
    width: 20%;
    padding: 0 10px;
}
footer{
    width: 100%;
    position: relative;
    background: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p,footer h3 {
    color: #fff;
}
/* hardware */
main{
    width: 100%;
    position: relative;
}
#hardware1{
    width: 63%;
    padding: 100px 150px;
    margin: 0 auto;
    background: rgb(209, 160, 255);
}
#hardware1 h3{   
    color: blueviolet;
}
#hardware1 hr{
    color: blueviolet;
    border:1px solid blueviolet;
}
#hardware{
    width: 100%;
    background:url("../img/bg-hardware.png");
    background-size: cover;
    background-position: center;
}
#hardware h2{
    font-size: 50px;
    color:blueviolet;
    text-align: left ;
}
#hardware p{
    font-size: 22px;
}
#hardware .fila{
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
}
#hardware .fila h3{
    padding-bottom: 30px;
    text-transform:uppercase; 
}

#con-har{
    position: relative;
    text-align: left;
    padding-left: 50px;
}
#con-har a {
    text-decoration: none;
    transition: 1s;
}
#con-har a :hover{
    text-decoration: underline;
}
#con-har h3{
    color: #000;
}
footer{
    width: 100%;
    position: relative;
    background: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p,footer h3 {
    color: #fff;
}
/* TABLETS IPADS */
@media screen and (min-width:768px) and (max-width: 990px) {   
   
}
/* SMARTPHONES*/
@media screen and (min-width:320px) and (max-width: 1024px) { 
    header nav{
        display: block;
        text-align: left;
        width: 96%;
    }
    header nav ul{
        margin-top: 30px;
    }
    header nav a{
        padding-left: 10px;
        font-size: 20px;
    }
    header nav a img{
        width: 100px;
    }
    .toggle-input {
    display: none; 
    }
    .toggle-label {
        padding-left: 10px;
        font-size: 10px;
        text-align: start;
    }
    .toggle-label p{
        font-size: 15px;
    }
    .toggle-label p,
    .toggle-label span {
        display: inline; /* Establece la visualización en línea para ambos elementos */
    }
    .contenido {
    display: block;
    width: max-content;
    height: 200px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 0;
    background-color: #000;
    color: #fff;
    transition:1s ease;
    }
    .contenido ul li a{
        font-size: 10px;
    }
    .toggle-input:checked ~ .contenido {
    max-height: 400px; 
    }
    #hero img{
        width: 60px;
    }
    #hero h2{
        font-size: 20px;
    }
    #hero h1{
        font-size: 20px;
    }
    #hero p{
        width: 80%;
        font-size: 10px;
    }
    #hero button{
        font-size: 18px;
        padding: 8px 14px;
    }
    #news{
        padding: 10px;
        margin: 0 auto;
    }
    #noticias .fila{
        display:block;
    }
    #noticias h2{
        font-size: 15px;
    }
    #noticias h3{
        font-size: 10px;
    }
    #noticias .fila p{
        font-size: 8px;
    }
    #noticias p{
        font-size: 16px;
    }
    #noticias .col-plan{
        margin-bottom: 30px;
    }
    #con-not{
        padding: 0%;
    }
    img{
        padding: 5px 0;
        width: 250px;
    }
    #analitics{
        padding: 10px;
        margin: 0 auto;
    }
    #analisis .fila{
        display:block;
    }
    #analisis h2{
        font-size: 15px;
    }
    #analisis h3{
        font-size: 10px;
    }
    #analisis .fila p{
        font-size: 8px;
    }
    #analisis p{
        font-size: 16px;
    }
    #analisis .col-plan{
        margin-bottom: 30px;
    }
    #con-ana{
        padding: 0%;
    }
    #guides{
        padding: 10px;
        margin: 0 auto;
    }
    #guiasytrucos .fila{
        display:block;
    }
    #guiasytrucos h2{
        font-size: 15px;
    }
    #guiasytrucos h3{
        font-size: 10px;
    }
    #guiasytrucos .fila p{
        font-size: 8px;
    }
    #guiasytrucos p{
        font-size: 16px;
    }
    #guiasytrucos .col-plan{
        margin-bottom: 30px;
    }
    #con-gyt{
        padding: 0%;
    }
    #releases{
        padding: 10px;
        margin: 0 auto;
    }
    #lan-img img {
        height: 100px;
        width: 60px;
    }
    #lanzamientos .fila{
        display:block;
    }
    #lanzamientos h2{
        font-size: 15px;
    }
    #lanzamientos h3{
        font-size: 10px;
    }
    #lanzamientos .fila{
        padding-top: 10px;
    }
    #lanzamientos .fila p{
        padding: 10px 0;
        font-size: 8px;
    }
    #lanzamientos .fila h3{
        padding: 10px 0;
    }
    #lanzamientos p{
        font-size: 16px;
    }
    #lanzamientos .col-plan{
        margin-bottom: 30px;
    }
    #con-lan{
        padding: 0%;
    }
    #top{
        padding: 10px;
        margin: 0 auto;
    }
    #ranking h2{
        font-size: 15px;
    }
    #ranking h3{
        font-size: 10px;
    }
    #ranking .fila{
        padding-top: 10px;
    }
    #ranking .fila p{
        padding: 10px 0;
        font-size: 8px;
    }
    #ranking .fila h3{
        padding: 10px 0;
    }
    #ran-img img{
        width: 50px;
    }
    #ranking p{
        font-size: 16px;
    }
    #ranking .col-plan{
        margin-bottom: 30px;
    }
    #con-ran{
        padding: 0%;
    }
    
    #hardware1{
        padding: 10px;
        margin: 0 auto;
    }
    #hardware h2{
        font-size: 15px;
    }
    #hardware h3{
        font-size: 10px;
    }
    #hardware .fila{
        padding-top: 10px;
        display: block;
    }
    #hardware .fila p{
        padding: 10px 0;
        font-size: 8px;
    }
    #hardware .fila h3{
        padding: 10px 0;
    }
    #har-img img{
        width: 200px;
    }
    #hardware p{
        font-size: 16px;
    }
    #hardware .col-plan{
        margin-bottom: 30px;
    }
    #con-har{
        padding: 0%;
    }
    footer h3, footer p{
        font-size: 12px;
    }
}
